/*codigo */
body{
	margin:0;
	padding:0;
	overflow-x:hidden;
}
nav ul li a{
	text-decoration: none;
	color:white;
	cursor: pointer;
	margin-right: 20px;

}
.lista{
	list-style:none;
	border-right: 1px solid black;
	padding: 15px;
	width: 100%;
    text-align: center;

}
nav ul{
	height: 51px;
    margin-top: 0px;

}
#nav{
	background-color: #db7878;
	justify-content: center;
	
}
li:hover{
	background-color:#E8048A;

}
#segundo{
	background-color: #302d2d;
}
#segundo i{
	color: white;
	font-size: 25px;
	cursor: pointer;
}
.menu.flex-container{
	padding-left: 18px;
}
.general{
	border-bottom: 1px solid;
	width: 100%;
}
.texto{
	color: white;
    font-weight: bold;
    padding-left: 19px;
    height: 26px;
    margin-top: 12px;
    cursor: pointer;
}
.texto:hover{
	text-decoration: underline;
}
.oculto{
	display: none;
}